<div class="contact d-flex d-flex-inline">
  <form>
    <input tabindex="1" class="d-flex d-flex-block" type="text" placeholder="Name" />
    <input tabindex="2" class="d-flex d-flex-block" type="text" placeholder="Surname" />
    <input tabindex="3" class="d-flex d-flex-block" type="email" placeholder="E-Mail" required />
    <input tabindex="4" class="d-flex d-flex-block" type="text" placeholder="Tel.-Nr." />
    <textarea tabindex="5" class="d-flex d-flex-block" cols="30" rows="10" required></textarea>
    <input tabindex="6" type="submit" class="d-flex d-flex-block" value="Send" />
  </form>
</div>
