/** Start: Imports */
@import "../../celestial-ui.scss";
/** End: Imports */

.contact {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  input,
  textarea {
    @include theme-4-border();
    @include theme-4-textshadow();
    @include theme-4-boxshadow-out();
    background-color: #1d1d1d;
    color: #fafafa;
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 18px;
    pointer-events: visible;
    outline: none;
    margin: 1rem;
    width: 20rem;
  }
  input:focus,
  textarea:focus {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    @include theme-4-boxshadow-in();
  }
}
