<div class="contact d-flex d-flex-inline">
    <form>
        <input class="d-flex d-flex-block" type="text" placeholder="Name">
        <input class="d-flex d-flex-block" type="text" placeholder="Surname">
        <input class="d-flex d-flex-block" type="email" placeholder="E-Mail" required>
        <input class="d-flex d-flex-block" type="text" placeholder="Tel.-Nr.">
        <textarea class="d-flex d-flex-block" cols="30" rows="10" required></textarea>
        <button class="d-flex d-flex-block" type="submit">Send</button>
    </form>
</div>