<header>
  <app-navbar [onClick]="this.navClick"></app-navbar>
</header>
<main>
  <div class="spa-container-parent">
    <div class="spa-container spa-active" id="home"><h1>Home</h1></div>
    <div class="spa-container" id="aboutme"><h1>aboutme</h1></div>
    <div class="spa-container" id="projects"><h1>projects</h1></div>
    <div class="spa-container" id="services"><h1>services</h1></div>
    <div class="spa-container" id="resume"><h1>resume</h1></div>
    <div class="spa-container" id="contact"><h1>contact</h1></div>
  </div>
</main>
