/** Start: Main Content Container */
main {
  width: 80vw;
  margin: auto;
  height: 100vh;
}
/** End: Main Content Container */
/** Start: SPA */
.spa-parent-container {
  margin: auto;
  padding: 1rem;
}
.spa-container {
  display: none;
}
.spa-active {
  display: flex;
}
/** End: SPA */
