@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

:root {
    body {
        font-family: "Noto Sans TC", sans-serif;
    }
    *{
        margin: 0;
        padding: 0;
    }
}

.flex-grid {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-inline {
    display: inline-flex
}
