<header class="flex-col navbar navbar-left glass-container" #navbar>
  <ul class="flex-col navbar-nav">
    <li class="flex-row nav-item">
      <div class="flex-row icon">
        <fa-icon [icon]="navHomeIcon" size="2x"></fa-icon>
      </div>
      <div class="flex-row text">
        <span>{{ langData.navigation.home }}</span>
      </div>
    </li>
    <li class="flex-row nav-item">
      <div class="flex-row icon">
        <fa-icon [icon]="navUserCircleSymbol" size="2x"></fa-icon>
        &nbsp;
      </div>
      <div class="flex-row text">
        <span>{{ langData.navigation.aboutMe }}</span>
      </div>
    </li>
    <li class="flex-row nav-item">
      <div class="flex-row icon">
        <fa-icon [icon]="navProjectSymbol" size="2x"></fa-icon>
      </div>
      <div class="flex-row text">
        <span>{{ langData.navigation.projects }}</span>
      </div>
    </li>
    <li class="flex-row nav-item">
      <div class="flex-row icon">
        <fa-icon [icon]="navServicesSymbol" size="2x"></fa-icon>
      </div>
      <div class="flex-row text">
        <span>{{ langData.navigation.services }}</span>
      </div>
    </li>
    <li class="flex-row nav-item">
      <div class="flex-row icon">
        <fa-icon [icon]="navBlogIcon" size="2x"></fa-icon>
      </div>
      <div class="flex-row text">
        <span>{{ langData.navigation.blog }}</span>
      </div>
    </li>
    <li class="flex-row nav-item">
      <div class="flex-row icon">
        <fa-icon [icon]="navContactIcon" size="2x"></fa-icon>
      </div>
      <div class="flex-row text">
        <span>{{ langData.navigation.contact }}</span>
      </div>
    </li>
  </ul>
</header>
