.navbar {
  .navbar-nav {
    .nav-item {
      // margin: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;
      justify-content: flex-start;
      align-items: center;
      vertical-align: middle;
      font-family: 'Futura LT Pro', sans-serif !important;
      .icon {
        height: 45px;
        width: 50px;
        align-items: center;
        justify-content: center;
        margin-right: 0.2rem;
      }
      .text {
        height: 45px;
        align-items: center;
        justify-tracks: center;
      }
    }
    .nav-item-active {
      backdrop-filter: blur(0);
    }
  }
}
.navbar-left {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  width: auto;
  height: auto;
  align-items: flex-start;
  flex-shrink: 1;
  .nav-item {
    display: flex;
    flex-direction: row;
  }
}
.navbar-top {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  .navbar-nav {
    display: inline-flex;
    .nav-item {
      display: flex;
      flex-direction: row;
    }
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      .nav-item span {
        display: none;
        .icon {
          max-width: 20px;
          max-height: 25px;
          margin: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    .navbar-nav {
      display: inline-flex;
      .nav-item {
        display: flex;
        flex-direction: row;
        .icon {
          height: 25px;
          width: 30px;
          margin-right: 0.4rem;
        }
        .text {
          height: 30px;
        }
      }
    }
  }
}
