<header class="flex-grid navbar navbar-left glass-container" #navbar>
  <ul class="flex-grid flex-col navbar-nav">
    <li class="flex-grid nav-item">
      <fa-icon [icon]="navHomeIcon" size="2x"></fa-icon>
      &nbsp;
      <span>{{ langData.navigation.home }}</span>
    </li>
    <li class="flex-grid nav-item">
      <fa-icon [icon]="navUserCircleSymbol" size="2x"></fa-icon>
      &nbsp;
      <span>{{ langData.navigation.aboutMe }}</span>
    </li>
    <li class="flex-grid nav-item">
      <fa-icon [icon]="navProjectSymbol" size="2x"></fa-icon>
      &nbsp;
      <span>{{ langData.navigation.projects }}</span>
    </li>
    <li class="flex-grid nav-item">
      <fa-icon [icon]="navBlogIcon" size="2x"></fa-icon>
      &nbsp;
      <span>{{ langData.navigation.blog }}</span>
    </li>
    <li class="flex-grid nav-item">
      <fa-icon [icon]="navContactIcon" size="2x"></fa-icon>
      &nbsp;
      <span>{{ langData.navigation.contact }}</span>
    </li>
  </ul>
</header>
