<div class="flex-block services">
    <div class="service glass-container flex flex-block">
        <div class="header flex-block">
            <h3>{{langData.coding.title}}</h3>
        </div>
        <div class="body flex">
            <div class="picture flex-row">
                <fa-icon [icon]="codeIcon" size="4x"></fa-icon>
            </div>
            <div class="text flex-row"><p>{{langData.coding.body}}</p></div>
        </div>
    </div>
    <div class="service glass-container flex flex-block">
        <div class="header">
            <h3>{{langData.sysadmin.title}}</h3>
        </div>
        <div class="body flex">
            <div class="picture flex-row">
                <fa-icon [icon]="sysadminIcon" size="4x"></fa-icon>
            </div>
            <div class="text flex-row"><p>{{langData.sysadmin.body}}</p></div>
        </div>
    </div>
    <div class="service glass-container flex flex-block">
        <div class="header">
            <h3>{{langData.customWindowsImage.title}}</h3>
        </div>
        <div class="body flex">
            <div class="picture flex-row">
                <fa-icon [icon]="customWindowsImageIcon" size="4x"></fa-icon>
            </div>
            <div class="text flex-row"><p>{{langData.customWindowsImage.body}}</p></div>
        </div>
    </div>
    <div class="service glass-container flex flex-block">
        <div class="header">
            <h3>{{langData.consulting.title}}</h3>
        </div>
        <div class="body flex">
            <div class="picture flex-row">
                <fa-icon [icon]="consultIcon" size="4x"></fa-icon>
            </div>
            <div class="text flex-row">
                <p>{{langData.consulting.body}}</p>
                Buchen Sie jetzt einen Termin: &nbsp;<span class="link" (click)="this.toggleBookingsModal()">Microsoft Bookings</span>
            </div>
        </div>
    </div>
</div>