.modal {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  padding: 1rem;
  .modal-close {
    width: 100%;
    height: 2.5rem;
    fa-icon {
      margin-bottom: 1rem;
    }
  }
  .modal-body,
  .modal-body {
    width: 100%;
    height: 90%;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
