.home {
    padding: 1rem;
    padding-top: 0;
    width: 1000px;
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 1200px) {
    .home{
        padding: 0.5rem;
    }
}
