/** Start: Imports */
@import "../celestial-ui.scss";
/** End: Imports */

/** Start: All Things SPA related */
.spa-container {
    left: 0;
    top: 65px;
    right: 0;
    position: fixed;
    padding: 3rem;
}
.spa-element {
    display: none;
    margin: 3rem;
    @include theme-2-boxshadow-out();
    border-radius: 10px;
    padding: 1rem;
}
.spa-active-element {
    display: flex;
}
/** End: All Things SPA related */ 