// @import '../assets/style-template/apple.scss';

$default-bg: #1d1d1d;

main {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  .body {
    text-align: center;
    .loading-symbol {
      margin: auto;
      justify-content: center;
      padding: 1rem;
      align-items: center;
    }
  }
  .page-controls {
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 0.5rem;
    margin: 0.5rem;
    .toggle {
      margin: 0.5rem 1rem 0.5rem 1rem;
      cursor: pointer;
    }
  }
}

.app-body {
  margin-top: 1rem;
}
.app-body-alt {
  margin-top: 5rem;
}

#spa-container {
  .spa-element {
    display: none;
  }
  .spa-element-active {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 1200px) {
  .nav-toggle {
    display: none;
  }
}
