<main class="flex-grid">
  <navbar [alignTop]="navAlign"></navbar>
  <div class="body flex-grid">
    <div
      class="loading-symbol flex-grid flex-col glass-container"
      #loadingContainer
    >
      <fa-icon [icon]="loadingSymbol" [spin]="true" size="6x"></fa-icon>
      <h1>Currently under Construction!</h1>
    </div>
  </div>
  <div class="flex-grid toggle-nav glass-container">
    <a #toggleNavButton (click)="navToggle()">
      <fa-icon [icon]="toggleNavIcon"></fa-icon>
    </a>
  </div>
</main>
