<head>
  <title>{{ title }}</title>
</head>
<main class="flex">
  <navbar [alignTop]="navAlign" [langData]="langData.navigation" [navClick]="navClick"></navbar>
  <div class="body flex">
    <div class="app-body" id="spa-container">
      <app-home class="spa-element spa-element-active" id="home" [langData]="langData.home"></app-home>
      <div class="spa-element" id="aboutMe">About Me</div>
      <div class="spa-element" id="projects">Projects</div>
      <app-services [langData]="langData.services" class="spa-element" id="services" ></app-services>
      <div class="spa-element" id="blog" >Blog</div>
      <div class="spa-element" id="contact" >Contact</div>
    </div>
  </div>
  <div class="page-controls flex glass-container">
    <div class="flex-row toggle nav-toggle">
      <a (click)="navToggle()">
        <fa-icon [icon]="toggleNavIcon"></fa-icon>
      </a>
    </div>
    <div class="flex-row toggle lang-toggle">
      <a (click)="langToggle()">
        <fa-icon [icon]="toggleLangIcon"></fa-icon>
      </a>
    </div>
  </div>
</main>
